<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GoRestSuite">
  
  <listeners>
  		<listener  class-name="api.utilities.ExtentReportManager" />
   </listeners>
  
  <test thread-count="5" name="GoRestTests">
    <classes>
    	<class name="api.user.test.AuthenticationsUserTest"/>
    	<!-- <class name="api.user.test.CreateUserTest"/> -->
    	<class name="api.user.test.ReadUserTest"/>
   		<class name="api.user.test.UpdateUserTest"/>
   		<!-- <class name="api.user.test.DeleteUserTest"/> -->
   		
   		<class name="api.post.test.AuthenticationsPostTest"/>
    	<class name="api.post.test.CreatePostTest"/>
    	<class name="api.post.test.ReadPostTest"/>
    	
    	<class name="api.comment.test.AuthenticationsCommentTest"/>
    	<class name="api.comment.test.CreateCommentTest"/>
    	<class name="api.comment.test.ReadCommentTest"/>
    </classes>
  </test> <!-- UserTests -->
</suite> <!-- UserSuite -->
